* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'LXGW WenKai Lite';
  src: url('@/assets/fonts/LXGWWenKaiMonoLite-Bold.ttf') format('truetype');
}

.font-sans-regular {
  font-family: 'LXGW WenKai Lite', sans-serif;
}

#app,
html,
body {
  overflow: hidden;
}
